<div class="wrapper">
    {{> navbar }}
    <div class="container row my-dflex">
        <div class="chatbox my-width-full">
            <form class="my-dflex my-width-full">
                <input type="text" name="chatInput" id="input">
                <button class="btn" id="submitBtn">Submit</button>
                <button class="btn" id="recBtn">Speak</button>
            </form>
        </div>
    </div>
</div>