<script src="/assets/SpeechSDK/microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<div class="wrapper">
    {{> navbar }}
    <div class="chatbox">
        <div class="my-width-full" id="history"></div>
        <form class="aiForm">
            <input type="text" name="chatInput" id="input">
            <button type="submit" class="btn" id="submitBtn"><i class="material-icons">send</i></button>
            <button class="btn" id="recBtn"><i class="material-icons">mic</i></button>
        </form>
    </div>
</div>