<script src="/assets/SpeechSDK/microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<div class="wrapper">
    {{> navbar }}
    <div class="chatbox">
        <div class="chatbox-content">
            <div class="my-width-full" id="history"></div>
        </div>
        <form class="aiForm">
            <input type="text" name="chatInput" id="input" placeholder="Type here">
            <button type="submit" class="btn" id="submitBtn"><i class="material-icons">send</i></button>
            <button class="btn" id="recBtn"><i class="material-icons">mic</i></button>
        </form>
    </div>
    <div class="my-mt-4 my-dflex-col my-align-center">
        <img class="ai-icon up-and-down" src="https://i.imgur.com/yj5WPQD.png" alt="ai-chat-bot">
        <img class="ai-icon shrink-and-grow my-m-0" src="https://i.imgur.com/5TBxa1V.png" alt="ai-chat-shadow">
    </div>
</div>