<div class="wrapper">
    {{> navbar }}
    <div class="container row my-dflex">
        <div class="chatbox my-width-full">
            <form class="my-dflex my-width-full">
                <input type="text" name="chatInput">
                <button class="btn">Submit</button>
            </form>
        </div>
    </div>
</div>