<div class="ai-interaction-box my-justify-center right">
    <a href="/ai_chat" class="aichatBtn my-dflex-col">
      <img class="ai-icon up-and-down" src="https://i.imgur.com/X5xm8AJ.png" alt="ai-chat-bot">
      <img class="ai-icon shrink-and-grow" src="https://i.imgur.com/5TBxa1V.png" alt="ai-chat-shadow">
    </a>
</div>