<div class="friend-box my-dflex-col">
  <img class="userIcon" src={{image}} alt="user image">
  <span class="font-scale">{{username}}</span>
  <button class="btn" data-id="">
  {{!-- <button class="btn" data-id="{{user.id}}"> --}}
    {{!-- {{#if UserAssociate}} --}}
    Connect
    {{!-- {{#else}}
    Disconnect
    {{/if}} --}}
  </button>
</div>