<div class="friend-box my-dflex-col">
  <img class="userIcon" src={{image}} alt="user image">
  <span class="font-scale">{{username}}</span>
  {{!-- Grabbing other user's id and the connection boolean --}}
  <button class="btn" data-id="{{user.id}}" data-connection="{{connect}}">
    {{#if connect}}
    Connect
    {{#else}}
    Disconnect
    {{/if}}
  </button>
</div>