<div class="wrapper">
    {{> navbar}}
    <div class="container row">
        <div class="events col s6 dflex-col align-center">
            <div class="event-box bc2">
                Event 1
            </div>
            <div class="event-box bc2">
                Event 1
            </div>
            <div class="event-box bc2">
                Event 1
            </div>
        </div>
        <div class="col s6 dflex-col align-center justify-between">
            <div class="row">
                <div class="friends">
                    <div class="friend-box">
                        Daniel
                    </div>
                    <div class="friend-box">
                        Elias
                    </div>
                    <div class="friend-box">
                        Chomie
                    </div>
                    <div class="friend-box">
                        tyler
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="ai-interaction">
                    Ai interaction
                </div>
            </div>
        </div>
    </div>
</div>