<div class="wrapper">
    {{> navbar}}

    <div class="row container dflex h-full">
        <div class="col s6">
            <div class="event-box bc2">
                <div class="event-title">event1</div>
            </div>
            <div class="event-box bc2">
                <div class="event-title">event1</div>
            </div>
            <div class="event-box bc2">
                <div class="event-title">event1</div>
            </div>
        </div>
        <div class="col s6 dflex-col justify-between align-center">
            <div class="row">
                <div class="friends">
                    <div class="friend-box">
                        <img class="userIcon" src="/assets/img/userIcon.png" alt="user image">
                        Daniel
                    </div>
                    <div class="friend-box">
                        <img class="userIcon" src="/assets/img/userIcon.png" alt="user image">
                        Elias
                    </div>
                    <div class="friend-box">
                        <img class="userIcon" src="/assets/img/userIcon.png" alt="user image">
                        Chomie
                    </div>
                    <div class="friend-box">
                        <img class="userIcon" src="/assets/img/userIcon.png" alt="user image">
                        tyler
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="ai-interaction">
                    Ai interaction
                </div>
            </div>
        </div>
    </div>

    {{!-- <div class="container row">
        <div class="events col s6 dflex-col align-center">
            <div class="event-box bc2">
                Event 1
            </div>
            <div class="event-box bc2">
                Event 1
            </div>
            <div class="event-box bc2">
                Event 1
            </div>
        </div>
        <div class="col s6 dflex-col align-center justify-between">
            <div class="row">
                <div class="friends">
                    <div class="friend-box">
                        Daniel
                    </div>
                    <div class="friend-box">
                        Elias
                    </div>
                    <div class="friend-box">
                        Chomie
                    </div>
                    <div class="friend-box">
                        tyler
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="ai-interaction">
                    Ai interaction
                </div>
            </div>
        </div>
    </div> --}}
</div>