<div class="wrapper">
    {{> navbar}}

    <div class="row container my-dflex my-h-full">
        <div class="col s6">
            <div class="event-box my-bc2">
                <div class="event-title">event1</div>
            </div>
            <div class="event-box my-bc2">
                <div class="event-title">event1</div>
            </div>
            <div class="event-box my-bc2">
                <div class="event-title">event1</div>
            </div>
        </div>
        <div class="col s6 my-dflex-col my-justify-between align-center">
            <div class="row">
                <div class="friends">
                    <div class="friend-box">
                        <img class="userIcon" src="/assets/img/userIcon.png" alt="user image">
                        Daniel
                    </div>
                    <div class="friend-box">
                        <img class="userIcon" src="/assets/img/userIcon.png" alt="user image">
                        Elias
                    </div>
                    <div class="friend-box">
                        <img class="userIcon" src="/assets/img/userIconGirl.png" alt="user image">
                        Chomie
                    </div>
                    <div class="friend-box">
                        <img class="userIcon" src="/assets/img/userIcon.png" alt="user image">
                        tyler
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="ai-interaction-box">
                    Ai interaction
                </div>
            </div>
        </div>
    </div>
</div>