<div class="wrapper">
    {{> navbar}}

    <div class="row container my-dflex my-full-height">
        <div class="col s6">
            <a href="/event/edit" class="eventBtn my-tc-black">
                <div class="event-box my-bc2">
                    <div class="event-title">event1</div>
                </div>
            </a>
            <a href="/event/edit" class="eventBtn my-tc-black">
                <div class="event-box my-bc2">
                    <div class="event-title">event2</div>
                </div>
            </a>
            <a href="/event/edit" class="eventBtn my-tc-black">
                <div class="event-box my-bc2">
                    <div class="event-title">event3</div>
                </div>
            </a>
            <a href="/event/edit" class="eventBtn my-tc-black">
                <div class="event-box my-bc2">
                    <div class="event-title">event4</div>
                </div>
            </a>
        </div>
        <div class="col s6 my-dflex-col my-justify-between align-center">
            <div class="row">
                <div class="friends">
                    <a href="/friend/one" class="friendsBtn my-tc-black">
                        <div class="friend-box">
                            <img class="userIcon" src="/assets/img/userIcon.png" alt="user image">
                            Daniel
                        </div>
                    </a>
                    <a href="/friend/one" class="friendsBtn my-tc-black">
                        <div class="friend-box">
                            <img class="userIcon" src="/assets/img/userIcon.png" alt="user image">
                            Elias
                        </div>
                    </a>
                    <a href="/friend/one" class="friendsBtn my-tc-black">
                        <div class="friend-box">
                            <img class="userIcon" src="/assets/img/userIconGirl.png" alt="user image">
                            Chomie
                        </div>
                    </a>
                    <a href="/friend/one" class="friendsBtn my-tc-black">
                        <div class="friend-box">
                            <img class="userIcon" src="/assets/img/userIcon.png" alt="user image">
                            Tyler
                        </div>
                    </a>
                </div>
            </div>
            <div class="row my-dflex my-justify-center">
                <a href="/ai_chat" class="aichatBtn">
                    <div class="ai-interaction-box my-dflex my-justify-center">
                        <img class="ai-icon" src="/assets/img/AIChat.png" alt="">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>