<div class="wrapper">
    {{> navbar}}

    <div class="row container my-dflex my-full-height">
        <div class="col s6">
            {{#each userEvents}}
            <a href="/event/{{dataValues.id}}" class="eventBtn my-tc-black">
                <div class="event-box my-bc2">
                    <div class="event-title">{{dataValues.name}}</div>
                </div>
            </a>
           {{/each}}
        </div>
        <div class="col s6 my-dflex-col my-justify-between align-center">
            <div class="row">
                <div class="friends">
                    {{#if friends}}
                    {{#each friends}}
                    <a href="/friend/{{dataValues.id}}" class="friendsBtn my-tc-black">
                        <div class="friend-box">
                            <img class="userIcon" src="/assets/img/userIcon.png" alt="user image">
                            {{dataValues.username}}
                        </div>
                    </a>
                    {{/each}}
                    {{/if}}
                    {{#unless friends}}
                    <h1>YOU HAVE NO FRIENDS</h1> <i class="material-icons">sentiment_very_dissatisfied</i>
                    {{/unless}}
                </div>
            </div>
            <div class="row my-dflex my-justify-center">
                <a href="/ai_chat" class="aichatBtn">
                    <div class="ai-interaction-box my-dflex my-justify-center">
                        <img class="ai-icon" src="/assets/img/AIChat.png" alt="">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>