<div class="wrapper">
    {{> navbar }}
    <div class="container my-dflex-col my-align-center">
        <h1>All Events</h1>
        <button class="btn my-bc4"><i class="material-icons my-mr-4">control_point</i>Add Event</button>
        <div class="all-events-box my-full-width">
            <div class="event-box my-full-width">
                <div class="event-header">
                    <span class="event-title">Title</span>
                    <span class="event-date">11/11/2020</span>
                </div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem aspernatur deleniti modi quo rem eos, temporibus ipsam. In, error numquam aliquid iusto dicta vero nemo illum, autem ipsum perspiciatis itaque!</p>
                <div class="btns my-mt-4">
                    <a class="btn" href="/event/edit"> Edit </a>
                    <a class="btn" href=""> Delete </a>
                    <a class="btn" href=""> Share </a>
                </div>
            </div>
        </div>
    </div>
</div>