<div class="wrapper">
    {{> navbar }}
    <div class="container my-dflex-col my-align-center">
        <h1>All Events</h1>
        <div class="all-events-box">
            <div class="event-box">
                <div class="event-title">Title</div>
            </div>
        </div>
    </div>
</div>