<div class="wrapper">
    {{> navbar }}
    <h1>Friends</h1>
    <div class="container">
        <div class="friend-box-all">
            {{!-- {{#each username.Associate}}
            {{#unless connected}} --}}
            {{> connections connected=true}}
            {{!-- {{/unless}}
            {{/each}} --}}
        </div>
        <div class="people-box-all">
            {{!-- {{#each username.Associate}}
            {{#if connected}} --}}
            {{> connections connected=false}}
            {{!-- {{/if}}
            {{/each}} --}}
        </div>
    </div>
</div>