<div class="wrapper">
    {{> navbar }}
    <div class="container">
        <h1>Friends</h1>
        <div class="friend-box-all">
            <a href="/friend/one" class="my-tc-black">
                <div class="friend-box">
                    <img class="userIcon" src="/assets/img/userIcon.png" alt="user image">
                    Daniel
                </div>
            </a>
            <a href="/friend/one" class="my-tc-black">
                <div class="friend-box">
                    <img class="userIcon" src="/assets/img/userIcon.png" alt="user image">
                    Elias
                </div>
            </a>
            <a href="/friend/one" class="my-tc-black">
                <div class="friend-box">
                    <img class="userIcon" src="/assets/img/userIconGirl.png" alt="user image">
                    Chomie
                </div>
            </a>
            <a href="/friend/one" class="my-tc-black">
                <div class="friend-box">
                    <img class="userIcon" src="/assets/img/userIcon.png" alt="user image">
                    Tyle
                </div>
            </a>
        </div>
    </div>
</div>