<div class="wrapper">
    {{> navbar }}
    <h1>Friends</h1>
    <div class="container">
        <div class="friend-box-all">
            {{!-- From all users --}}
            {{#each username.Associate}} 
            {{!-- Unless they're connected/associate --}}
            {{#unless connect}} 
            {{!-- Their connect button will say "connect" --}}
            {{> connections connect=true}}
            {{/unless}}
            {{/each}}
        </div>
        <div class="people-box-all">
            {{!-- From all users --}}
            {{#each username.Associate}}
            {{!-- If they're connected/already associate --}}
            {{#if connected}}
            {{!-- Their connect button will say "disconnect" --}}
            {{> connections connect=false}}
            {{/if}}
            {{/each}}
        </div>
    </div>
    {{> aiIcon}}
</div>