<script src="/assets/js/connection.js"></script>
<div class="wrapper">
    {{> navbar }}
    <div class="container">
        <h2 class="center">Connections</h2>
    <div class="row tabs-all my-width-75">
        <ul class="col s12 tabs">
            <li class="tab col s6 friend-tab active">Your Connections</li>
            <li class="tab col s6 people-tab">New Connections</li>
        </ul>
    </div>
    <div class="my-dflex-col">
        <div class="friend-box-all box-container">
            <div class="container">
                <input class="search" type="text" placeholder="Search Connections">
                <div class="people-box-all" id="people-box" style="display: none;">
                    {{!-- From all nonfriends --}}
                    {{#each nonfriends}}
                    {{!-- Unless they're connected/associate --}}
                    {{#unless isConnected}}
                    {{!-- Their connect button will say "connect" --}}
                    {{> connections connected=false}}
                    {{/unless}}
                    {{/each}}
                </div>
                <div class="friend-box-all box-container" id="friend-box">
                    {{!-- From all users --}}
                    {{#if hasFriends}}
                    {{#each friends}}
                    {{!-- If they're connected/already associate --}}
                    {{#if isConnected}}
                    {{!-- Their connect button will say "disconnect" --}}
                    {{> connections connected=true}}
                    {{/if}}
                    {{/each}}
                    {{else}}
                    <h3>You have no connections</h3>
                    {{/if}}
                </div>
            </div>
            {{> aiIcon}}
        </div>
    </div>