<script src="assets/js/navScripts.js"></script>
<nav>
    <div class="nav-wrapper bc1">
        <ul class="left hide-on-med-and-down">
            <li><a href="/dashboard" class="waves-effect waves-light btn dashboardBtn">Dashboard</a></li>
            <li><a href="/events" class="waves-effect waves-light btn eventBtn">All Events</a></li>
            <li><a href="/friends" class="waves-effect waves-light btn friendsBtn">Friends</a></li>
        </ul>
        <a href="#" data-target="slide-out" class="sidenav-trigger hamIcon"><i class="material-icons">menu</i></a>
        <a href="#!" class="brand-logo right">Mee+s</a>
    </div>
</nav>

<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="/assets/img/userIcon.png">
            </div>
            <a href="#user"><img class="circle" src="/assets/img/userIcon.png" alt="user Image"></a>
            <a href="#name"><span class="name tc4">John Doe</span></a>
            <a href="#email"><span class="email tc4">jdandturk@gmail.com</span></a>
        </div>
    </li>
    <li><a class="dashboardBtn" href="/dashboard"><i class="material-icons">dashboard</i>Dashboard</a></li>
    <li><a class="eventBtn" href="/events"><i class="material-icons">event_available</i>All Events</a></li>
    <li><a class="friendsBtn" href="/friends"><i class="material-icons">emoji_people</i>Friends</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Your Info</a></li>
    <li><a class="profileBtn" href="/profile"><i class="material-icons">emoji_people</i>Profile</a></li>
    <li><a class="settingsBtn" href="/settings"><i class="material-icons">settings</i>Settings</a></li>
    <li><a href="/">Logout</a></li>
</ul>