<div class="wrapper">
    {{> navbar}}
    <div class="container">
        <h1>One Friend</h1>
        <img class="userIcon" src="/assets/img/userIcon.png" alt="user image">
        <p><strong>Name:</strong> Daniel</p>
        <p>
            <strong>Bio:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero excepturi adipisci
            pariatur
            provident illo
            quisquam architecto repellat laborum corporis cupiditate nam quos est alias autem, accusantium similique
            corrupti
            voluptate veritatis?
        </p>
    </div>
</div>