<div class="wrapper v-center">
    <script src="assets/js/loginScript.js"></script>
    <main class="my-m-0a d-box">
        <img class="up-and-down my-m-0" src="https://i.imgur.com/yj5WPQD.png">
        <img class="shrink-and-grow my-m-0" src="https://i.imgur.com/5TBxa1V.png">
        <h1 class="meets-font my-mt-0 orange-text text-darken-3">sign up</h1>
        <div class="content bc1">
            <form class="regForm">
                <div class="input-field">
                    <input type="text" name="username" id="username" />
                    <label class="orange-text text-darken-3" for="username">username</label>
                </div>
                <div class="input-field">
                    <input type="password" name="pass" id="pass" />
                    <label class="orange-text text-darken-3" for="pass">password</label>
                </div>
                <p class="red-text"></p>
                <button class="btn waves-effect waves-light amber darken-3 tw-font">Submit</button>
            </form>
            <h6 class="my-mt-4 tw-font">Have an Account?
                <a href="/">Login Here</a>
            </h6>
        </div>
    </main>
</div>