<div class="wrapper">
    <script src="assets/js/loginScript.js"></script>
    <main>
        <h2>Registration</h2>
        <div class="content bc1">
            <form class="regForm">
                <input type="text" name="username" id="username" placeholder="username" />
                <input type="password" name="pass" id="pass" placeholder="password" />
                <button class="btn">Submit</button>
            </form>
            <p>Need to Login?
                <a href="/">Login Here</a>
            </p>
        </div>
    </main>
</div>