<div class="wrapper">
    {{> navbar }}
    <h1>Settings</h1>
    <div class="container my-dflex-col">
        <img class="row" id="pfp" src={{image}}>
        <form class="row">
            <label for="img">Select New Profile Picture:</label><br/>
            <input type="file" id="img" name="img" accept="image/*"><br/>
        </form>
        <form class="my-dflex-col">
            <label for="img">Username:</label>
            <input type="input" id="setUsername" name="img" accept="image/*">
            <label for="img">Password:</label>
            <input type="input" id="setPassword" name="img" accept="image/*">
            <button class="updateBtn btn" type="submit">Update</button>
        </form>
    </div>
</div>