<div class="wrapper">
    {{> navbar }}
    <main>
        <h2>Login</h2>
        <div class="content bc1">
            <form class="loginForm">
                <input type="text" name="username" id="username" placeholder="username"/>
                <input type="password" name="pass" id="pass" placeholder="password"/>
                <button class="btn">Submit</button>
            </form>
            <p>Need to register?
                <a href="/register">Register Here</a>
            </p>
        </div>
    </main>
</div>
