* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-1: #e65100;
    --main-2: #ffffff;
    --accent-1: #ff8f00;
    --accent-2: #ff4e4e;
    --accent-3: #ffe57f;
    --accent-4: #ffe0b2;

    --text: black;
    --text-opposite: white;
}

* {
    color: var(--text);
}

body {
    background: var(--main-2);
    color: var(--text);
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    position: sticky;
    top: 0;
    background: var(--main-1);
    z-index: 1;
}

.side_nav {
    background: var(--main-2);
    color: var(--text);
}

.side_menu {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 10em;
    height: 91vh;
}

.side_menu li {
    position: relative;
    width: 10em;
}

.side_menu_button {
    margin: 1em;
    position: absolute;
    color: var(--text-opposite);
    background: var(--accent-1);
    left: -8em;
    /* border: 1px solid var(--text-opposite); */
    font-weight: bold;
    border-radius: 10px;
}

.side_menu_button:hover {
    position: relative;
    animation: slideOut 0.25s linear forwards;
    background: var(--accent-2);
    box-shadow: 2px 2px 4px var(--text);
}

@media(min-width:1000px) {
    .drag-target {
        display: none;
    }
}

@keyframes slideOut {
    0% {
        left: -8em;
    }
    50% {
        left: -5em;
    }
    100% {
        left: -1.5em;
    }
}

.col {
    margin: 0 1em;
}

.content {
    padding: 10px;
    width: 80%;
}

.userIcon, .connectedUserIcon {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 100px;
    background: var(--main-1);
}

.connectedUserIcon {
    margin-right: 1em;
}

.people-box-all {
  display: flex;
  flex-flow: row wrap;
}

.friend-box {
    justify-content: start;
    align-items: center;
    padding: 0.5em;
    margin: 1em 0;
    border-radius: 10px;
    background: var(--accent-4);
}

.user-box {
    width: 193px;
    height: 200px;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    margin: 1em 1em;
    border-radius: 5px;
    background: var(--accent-4);
}

.box-container {
    display: flex;
    flex-flow: row wrap;
}

.event-box {
    margin: 1em 0;
    padding: 1em;
    border-radius: 10px;
    background: var(--accent-4);
}

.event-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-title {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
}

.event-date {
    font-size: large;
}

.hamburgerIcon span {
    height: 5px;
    width: 5px;
    background: white;
}

.activePage {
    background: var(--main-1);
    color: var(--text);
}

.disable {
    pointer-events: none;
}

.ai-interaction-box {
    max-width: 200px;
    width: 25%;
    bottom: 0;
    right: 0;
    z-index: 7;
    position: fixed;
}

.ai-icon {
    max-width: 300px;
    width: 90%;
    height: auto;
}

.dayNightLandingPage {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.chatbox {
    position: fixed;
    bottom: 0;
    left: 2em;
    margin: 2vw;
    width: 90%;
}

.chat-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    height: 75vh;
    overflow: auto;
    background: white;
    border: 1px solid black;
    border-radius: 10px;
}

.chatbox-content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 80vh;
    background: var(--main-2);
    overflow: auto;
}

.btn {
    margin-top: 0.5em;
    margin-right: 0.25em;
    background-color: var(--accent-1) !important;
    font-family: "Titillium Web";
}

.btn-w {
    width: 120px;
    margin-right: 0 !important;
}

.tabs {
    background: var(--main-2);
    cursor: pointer;
}

.icon-activate{
    animation: iconActivate 0.5s linear forwards;
}

@keyframes iconActivate {
    0%, 100%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-45deg);
    }
}

.active {
    border-bottom: 2px solid var(--accent-1);
}

.night-mode{
    animation: nightMode 1s linear forwards;
}

@keyframes nightMode {
    0% {
        transform:rotate(0deg);
    }
    50% {
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(180deg);
    }
}

.day-mode{
    animation: dayMode 1s linear forwards;
}

@keyframes dayMode {
    0% {
        transform:rotate(180deg);
    }
    50% {
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

#logOutBtn {
    background-color: var(--color-4) !important;
}

p {
    font-family: "Titillium Web";
    font-size: 20px;
    font-weight: bold;
}

.font-scale {
    font-size: 2.5vw;
    font-weight: 500;
}

#pfp {
    margin: 0 auto;
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

.meets-font {
    font-family: 'Pacifico', cursive;
}

.tw-font,
h1,
h2,
h3 {
    font-family: "Titillium Web";
}

.word-wrapper {
    word-wrap: break-word;
}

.up-and-down {
    animation: MoveUpDown 3s linear infinite;
    position: relative;
}

.shrink-and-grow {
    animation: shrinkAndGrow 3s linear infinite;
    position: relative;
}

.speech-bubble {
  width: 20%;
  background: #ffac40;
  padding: 5px;
  text-align: center;
  font-weight: 600;
  font-family: "Titillium Web";
  color: #fff;
  position:absolute;
  height: 110px;
  left: -100%;
  width: 100%;
  font-size: 22px;
  border-radius: 0.5em;
}

.speech-bubble1:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #ffac40;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid #ffac40;
  right: -20px;
  top: 30px;
}

.mascot-box {
  position:relative;
  width:100%;
  border: 1px solid black;
  justify-content: center;
}

.picture-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  /* width: 30vw;
  margin: 0 auto; */
}

.bubble-animate {
  animation: fadein 5s linear forwards;
  -webkit-animation: fadein 5s linear forwards;
  -moz-animation: fadein 5s linear forwards;
  -ms-animation: fadein 5s linear forwards;
  -o-animation: fadein 5s linear forwards;
}

/* .picture-wrapper > img {
  width: 200px;
} */

@keyframes MoveUpDown {
    0%, 100% {
        bottom: 0;
    }
    50% {
        bottom: 2vh;
    }
}

@keyframes shrinkAndGrow {
    50% {
        transform: scale(0.3);
    }
    0%, 100% {
        transform: scale(0.5);
    }
}

@media(max-width: 640px) {
    .speech-bubble {
        display: none;
    }
    .tabs-all {
        font-size: 0.75em;
        width: 100%;
    }
}

@media(max-width: 800px) {
    .d-box {
        width: 100%;
    }
    h3 {
        font-size: 4vw;
    }
}

@media(min-width: 800px) {
    .d-box {
        width: 75%;
    }
    .tw-font, h3 {
        font-size: 2em;
    }
    .font-scale {
        font-size: 1.5em
    }
}

@media(min-width: 1280px) {
    .d-box {
        width: 50%;
    }
    .tw-font, h3 {
        font-size: 3em;
    }
}

@keyframes fadein {
  0%, 45% {opacity:0}
  100% {opacity:1}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  0%, 45% {opacity:0}
  100% {opacity:1}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  0%, 45% {opacity:0}
  100% {opacity:1}
}

/* Internet Explorer */
@-ms-keyframes fadein {
  0%, 45% {opacity:0}
  100% {opacity:1}
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  0%, 45% {opacity:0}
  100% {opacity:1}
}

input:focus, textarea:focus {
    border-bottom: 1px solid var(--color-1) !important;
    box-shadow: 0 1px 0 0 var(--color-1) !important;
}

.dropdown-content li>span {
    color: var(--main-1) !important;
}

a {
    color: var(--color-2);
}

.v-center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.splashscreen {
    position: absolute;
    background: var(--main-2);
    width: 100vw;
    height:100vh ;
    z-index: 10;
    animation: robotBackground 2s linear forwards ;
}

@keyframes robotBackground {
    95% {
        opacity: 100;
    }
    100%{
        opacity: 0;
        display: none;
        pointer-events: none;
    }
}

.splashBall {
    position: absolute;
    /* width: 1em;
    height: 1.2em; */
    /* border-radius: 100px; */
    /* background: #ffac40; */
    z-index: 11;
    animation: robotAnimate 2s linear forwards;
}

@keyframes robotAnimate {
    0% {
        left: 0;
        top: 0;
    }
    50% {
        left: 30vw;
        top: 15vh;
        transform: scale(1);
    }
    75% {
        left: 40vw;
        top: 25vh;
        transform: scale(2);
    }
    100% {
        left: 49vw;
        top: 37vh;
        transform: scale(7);
    }
}

.btn-bc-1 {
    background: var(--main-1) !important;
}
.btn-bc-2 {
    background: var(--main-2) !important;
}
.btn-bc-3 {
    background: var(--main-3) !important;
}
.btn-bc-4 {
    background: var(--main-4) !important;
}
.btn-bc-5 {
    background: var(--main-5) !important;
}

